body{
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../images/background-texture-g85c3d777e_1920.jpg");
    }
      h1{
        color: white;
        text-align: center;
      }

      body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=yourName], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
}

input[type=submit] {
  background-color: #45a049;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {

  background-color: #45a049;
}

.container {
  border-radius: 5px;  
  padding: 20px;
  width: 450px;
  position: relative;
  left: 1%;
  background: transparent;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-facebook {

  background: #2a4a8f;
  color: white;
}
.fa-github {
  background: #19191a;
  color: white;
}
#fname{

  width: 450px;
}
#lname{
  width: 450px;
}
#Email Address{
  width: 450px;
}
#subject{
  width: 450px;

}